.DS_Store
node_modules/
unpackage/dist/
unpackage/debug/
unpackage/resources/
/thinkphp/
/vendor/
/runtime/
/nbproject/
/public/.user.ini
/public/nginx.htaccess
.env
.example.env
timer.pid
workerman.pid
.user.ini
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
